@use "./../globals/vars" as vars;
@use "./../globals/_mixins.scss" as mixins;

.home__container{
    width: 100%;
    @include mixins.flex-center;
    flex-direction: column;
    padding: 100px 0;
    margin: 0 auto;
}

.home__title{
    text-align: center;
    font-size: vars.$font-title-size;
    color: vars.$font-title-color;
    font-weight: bold;
    margin-bottom: 50px;
    padding-top: 10px;
}

.home__description--container{
    width: 50%;
    margin-top: 75px;
    font-size: vars.$font-text-size;
    background-color: vars.$secondary-background-color;
    padding: 20px 1em;
    border: solid 1px vars.$border-color;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(36, 33, 31,0.05), 0 15px 40px rgba(36, 33, 31,0.2);
    @include mixins.flex-center;
    flex-direction: column;
    animation: fadeIn ease-in 0.4s;
}

.home__description{
    line-height: 1.5em;
    color: vars.$font-color;
}

.home__generate--button{
    margin-top: 50px;
    background-color: vars.$button-generate-background-color;
    border: none;
    padding: 20px 2em;
    border-radius: 10000px;
    box-shadow: 0 10px 20px rgba(124, 120, 113,0.19), 0 6px 6px rgba(124, 120, 113,0.23);
    font-size: vars.$font-secondary-title-size;
    font-weight: bold;
    transition: 0.3s all;
    margin-bottom: 10px;
    color: #2f2d2b;
}

.home__generate--button:hover{
    background-color: white;
}

// keyframes

@keyframes fadeIn {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }
}