$background-color: rgba(#D2B48C, 0.3);
$secondary-background-color: #FDF5E6;
$hover-background-color: #fce6cb;

// font

$font-color: #4B2E0F;
$font-title-color: #382107;
$font-title-size: 2.2rem;
$font-text-size: 1.2rem;
$font-secondary-title-size: 1.7rem;

// buttons
$button-generate-background-color: #ffbdaf;

// borders

$border-color: #D3D3D3;
